In [1]:
#Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Coursera Exercise (Tools Data Science)

In [2]:
#Exercise 3 - Create a markdown cell for an introduction. (1 pt)

This is an introductory aspect of using jupyter notebook for Data Analysis with Python

In [3]:
#Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Data Science Languages include 
   
    python
    R
    Scala
    SQL
    Java
    Julia
    MATLAB

In [8]:
#Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Pandas, Numpy, Scipy, Matplotlib, ggplot, plotly, caret, rdply, Scikitlearn, tensorflo

In [9]:
 #Exercise 6 Create a markdown cell with a table of Data Science tools.

| Tool Name | Description |
| --- | --- |
| Python | A general-purpose programming language widely used in data science |
| R | A programming language specifically designed for statistical computing and graphics |
| SQL | A language used to manage and manipulate relational databases |
| Java | A general-purpose programming language commonly used in big data processing and distributed computing |
| Scala | A programming language used for big data processing, machine learning, and data analysis |
| MATLAB | A numerical computing environment commonly used in engineering and science fields |
| Julia | A high-performance programming language designed for numerical computing, scientific computing, and machine learning |

In [11]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

var1 =(a * b)+ c

In [13]:
#Exercise  - Create a code cell to multiply and add numbers. (2 pts)

In [16]:
a = 2
b = 4
w = 8
var1 =(a * b)+ w

var1

16

In [17]:
#Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [18]:
time_min = int(input('enter time in minutes'))
time_hr = float(time_min/60 )

time_hr

enter time in minutes789

13.15

In [19]:
#Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

The Objective of this hands-on exercise is to familiarise the students with Jupyter Notebook interface and build muscle memories

In [ ]:
#Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

Egbujua Michael Chukwuma